body{
    
    background-image: url("tło.png");
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
   
    
    
}
#container{
    width: 1050px;
    height: 1372px;
    margin: auto;

}

#logo{
    width: 430px;
    height: 111px;
    margin-top: 55px;
    background-image: url("foot.png");
    background-repeat: no-repeat;
    margin-left: 353px;
    opacity: 0.3;
}
.column.AAA{
    width: 50%;
    height: 50%;
    /*background-color: #575eac;*/
    margin-top:0px;
}
.header h3{
    position: absolute;
    top: 155px;
    left: 250px;
    font-size: 21px;
    text-align: center;
    color: white;
    font-weight:1;
    letter-spacing:0.5px;
    font-family: Calibri, sans-serif;
    font-size: 28px;
    font-weight: lighter;
}

.box1{
    position: absolute;
    top: 280px;
    width: 380px;
    height: 420px;
    margin-left: -21px;
    background-color: rgb(248, 247, 247);
    -webkit-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    border-radius: 4px;
    margin-bottom: 10px
}

.form{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    height: 40px;
    width: 340px;
    float: left;
    clear: both;
    border-top: 1px  solid rgb(214, 218, 224);
    border-right: 1px  solid rgb(214, 218, 224);
    border-bottom: 1px  solid rgb(214, 218, 224);
    border-left: 1px  solid rgb(214, 218, 224);
    border-radius: 3px;
    
    

}
.img{
    margin-left:16px;
    margin-top: 10px;
    background-color:rgb(248, 247, 247);
    width: 60px;
    float: left;
    clear: both;
    
    
    
}

input{
    width: 278px;
    height: 36px;
    margin-top: -39px;
    margin-left: 60px;
    margin-right: 20px;
    margin-bottom: -17px;
    background-color: rgb(248, 247, 247);
    float: left;
    clear: both;
    border: none;
    border-left: 1px  solid rgb(231, 229, 229);
    color: rgba(165, 163, 163, 0.87);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight:lighter;
    

    /*text: fonts*/
}

select{
    width: 280px;
    height: 38px;
    margin-top: -37px;
    margin-left: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
    float: left;
    clear: both;
    border: none;
    border-left: 1px solid rgb(231, 229, 229);
    color: rgb(165, 163, 163);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight:lighter;
    background-color: rgb(248, 247, 247);
}
input[name="Username"]{
    margin-top: -35px;
    
}

input[name="Password"]{
    margin-top: -39px;
}
input[name="Confirm Password"]{
    margin-top: -39px;
}

input[name="email"]{
    margin-top: -29px;
}


::placeholder{
    margin-left: 50px;
    font-size: 18px;
    color: rgb(165, 163, 163);
    padding-left: 20px;
}

input[type="checkbox"]{
    width: 23px;
    height: 22px;
    margin-top: 10px;
    margin-left: 21px;
    background-color: rgb(136, 200, 20);
    float: left;
    clear: both;   
    outline: none; 
    
}
#accept{
    float: left;
    clear: both;
    width: 295px;
    height:20px;
    padding:5px;
    margin-left: 55px;
    margin-top: -12px;
    color: rgb(165, 163, 163);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight:lighter;

}

input[type="submit"]{
    width: 339px;
    height: 48px;
    margin-top: 7px;
    margin-left: 23px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: left;
    clear: both;
    border-color: rgb(4, 70, 4);
    background-color: rgb(147, 208, 43);
    border-radius: 4px;
    border-top: 1px  solid rgb(4, 70, 4);
    border-right: 1px  solid rgb(4, 70, 4);
    border-bottom: 1px  solid rgb(4, 70, 4);
    border-left: 1px  solid rgb(4, 70, 4);
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 28px;
    font-weight: lighter;
}
   
    


column.BBB{
    width:50%;
    height:50%;
    margin-bottom:0px;
    background-color:yellow;
}
.BBB h3{
    position: absolute;
    top: 743px;
    font-family: Calibri, sans-serif;
    font-size: 28px;
    font-weight: lighter;
}

.box2{ 
    position: absolute;
    top: 862px;
    left: 127px;
    height: 495px;
    width:384px;
    background-color: rgb(248, 247, 247);
    -webkit-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    border-radius: 5px;
}

input[name="yourname"]{
    margin-top:-35px;
}

textarea{
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 21px;
    width: 337px;
    height: 230px;
    border-radius: 4px;
    border-top: 1px  solid rgb(214, 218, 224);
    border-right: 1px  solid rgb(214, 218, 224);
    border-bottom: 1px  solid rgb(214, 218, 224);
    border-left: 1px  solid rgb(214, 218, 224);
    background-color: rgb(248, 247, 247);
    resize: none;
}
textarea::placeholder{
    width: 155px;
    height: 14px;
    margin-top: 15px;
    margin-right: 197px;
    margin-left: 39px;
    color: rgb(165, 163, 163);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
.checkbox2.checkbox{
    margin-top: 10px;
    margin-right:;
    margin-bottom: 20px;
    margin-left: ;
}
input[value="Send Email"]{
    width: 340px;
    height: 48px;
    margin-top: 13px;
    margin-right: 22px;
    margin-bottom: 24px;
    margin-left: 22px;
    font-family: Calibri, sans-serif;
    font-size: 28px;
    font-weight: lighter;
    text-shadow: rgb(2, 2, 2);
}
.box2input{
    margin-top: 20px;
}

.box2 .form{
    margin-top:20px;
}

/* box 3 */

 .CCC h3{
    position: absolute;
    top: -700px;
    left: 695px;
    width: 171px;
    height: 22px;
  
}
.box3{
    position: absolute;
    top: -579px;
    right: 81px;
    left: 600px;
    width: 383px;
    height: 217px;
    background-color: rgb(248, 247, 247);
    -webkit-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    border-radius: 4px;
}
.box3 .form{
    margin-top: 30px;
    margin-bottom: -10px;

}
.form input[name="username"]{
    margin-top: -35px;
    
}

.checkbox3 input[type=checkbox]{
    margin-top: 35px;
    margin-left: 24px;
    
}
.checkbox3 #accept{
    font-size: 20px;
    margin-left: 55px;

}
input[value="Sign In"]{
    height: 41px;
    width: 139px;
    margin-top: -25px;
    margin-right: 20px;
    margin-left: 223px;
    float: left;
    clear: both;

}
.DDD h3{
    margin-top: 420px;
    margin-right: 400px;
    margin-bottom:;
    margin-left:;
}
.box4{
    position: absolute;
    top: -207px;
    left: 600px;
    width: 382px;
    height: 214px;
    background-color: rgb(248, 247, 247);
    -webkit-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    border-radius: 4px;
  
}
.box4 .form{
    position: relative;
    top: 9px;
}
input[value="Send"]{
    position: relative;
    top: 20px;
    right: 1px;
    height: 41px;
    width: 147px;
}

input[value="Done"]{
    position: relative;
    top: -29px;
    right: -192px;
    height: 41px;
    width: 147px;
    background-color:  rgb(188, 219, 151);
    border-color: rgb(75, 116, 75); 
}

img[src="phone.png"]{
    margin-left: 5px;
}
img[src="location.png"]{
    margin-left: 5px;
}
.EEE h3{
    position: absolute;
    width: 214px;
    height: 22px;
    top: -353px;
    left: 685px;
}
.box5{
    position: absolute;
    width: 382px;
    height: 156px;
    top: 145px;
    right: -599px;
    background-color: rgb(248, 247, 247);
    -webkit-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    box-shadow: 2px -1px 1px 20px rgba(0,0,0,0.21);
    border-radius: 4px;
}
input[value="Subscribe"]{
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    height: 41px;
    width: 147px;
}

input[value="No, thanks"]{
    position: relative;
    margin-top: -41px;
    margin-left:215px;
    height: 41px;
    width: 147px;
    background-color: rgb(244, 73, 91);
    border-color: rgb(158, 43, 55);
}

.box5 .form{
    position: relative;
    top: -4px;
    margin-top:30px;
}
.box5 input{
    position: relative;
    top: 7px;

}
.box5 img[src="email.png"]{
    margin-top: 13px;
    margin-left: 19px;
}
img[src="foot.png"]{
    position: absolute;
    top: 370px;
    right: 97px;
    bottom: 81px;
    left: 600px;
    width: 354px;
    height: 130px;
    opacity: 0.1;
}